a:link {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #e0e7ef;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}

.header{
  background-image: url("../images/martin-adams-uZZw2vh8eqY-unsplash.png")
}